--db         target/yardoc.db
--output-dir target/doc
--markup     markdown
--readme     README.md
--files      doc/*.md
--asset      doc/img:img
--exclude    lib/corvid/builtin/test/bootstrap/.*
--protected
lib/**/*.rb
